{# templates/admin_tools/speed_statistics_banner.html #}

<body>
<div class="alert alert-info" role="alert" id="SpeedStatisticsPopup"
     style="display: none; justify-content: space-between; align-items: center; position: relative; width: 100%; text-align: center; padding: 15px;">
    <span class="close" style="position: absolute;
                               top: 2px;
                               right: 2px;">&times;
    </span>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Time Difference (seconds)</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for view, stats in performance_dict.items %}
                <tr>
                    <td colspan="3" style="font-weight: bold; text-align: left">View: {{ view }}</td>
                </tr>
                {% for stat in stats %}
                    <tr>
                        {% if stat.name %}
                            <td>{{ stat.name }}</td>
                            <td>{{ stat.time_difference|floatformat:4 }}</td>
                            <td style="font-weight: 300; color: #666; text-align: left;">
                                {{ stat.description }}
                            </td>
                        {% else %}
                            <td colspan="3">{{ stat }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        <tbody>
            {% if performance_process_dict %}
                {% for view, stats in performance_process_dict.items %}
                    <tr>
                        <td colspan="3" style="font-weight: bold; text-align: left">
                            View: {{ view }}
                        </td>
                    </tr>
                    {% for stat in stats %}
                        <tr>
                            <td>{{ stat.name }}</td>
                            <td>{{ stat.time_difference|floatformat:4 }}</td>
                            <td style="font-weight: 300; color: #666;">
                                {{ stat.description }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No performance data available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div style="display: flex; justify-content: flex-end;">
    <button id="SpeedStatisticsButton" class="toggle_button" style="padding: 10px 20px; border: 1px solid black; background-color: white; cursor: pointer;">
        Speed Statistics
    </button>
</div>
<script>
    // Handle showing the Speed Statistics table on button click
    document.querySelector('.toggle_button').addEventListener('click', function() {
        document.getElementById('SpeedStatisticsPopup').style.display = 'flex';
        document.getElementById('SpeedStatisticsButton').style.display = 'none';
    });

    // Handle hiding the Speed Statistics table on close button click
    document.querySelector('.close').addEventListener('click', function() {
        document.getElementById('SpeedStatisticsPopup').style.display = 'none';
        document.getElementById('SpeedStatisticsButton').style.display = 'block';
    });
</script>
</body>
